* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div,
header,
main {
    border-radius: 3px;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-rows: 50px 1fr;
    grid-gap: 3px;
    height: 100vh;
    margin: 10px 50px;
}

header {
    display: grid;

    grid-template-columns: 50px 250px 1fr;
    grid-gap: 3px;
}

.search-bar {
    background-color:deepskyblue;
}

nav {
    background-color: darksalmon;
}

img {
    width: 100%;
}

main {
    display: grid;
    grid-template: 
        "left-menu start-post right-menu" 100px
        "left-menu post-section right-menu" 1fr /
        150px 500px 150px;
    grid-gap: 3px;
}


.left-menu {
    grid-area: left-menu;
    background-color: darkkhaki;}

.start-post {
    grid-area: start-post;

    background-color: darkcyan;
}

.right-menu {
    grid-area: right-menu;
    background-color: darkgray;
}

.post-section {
    grid-area: post-section;
    background-color: cadetblue;
}

@media screen and (max-width: 1025px) {
    header {
        grid-template-columns: 50px 50px 1fr;
    }
}

@media screen and (max-width: 990px) {
    main {
        grid-template: 
        "left-menu start-post" 100px
        "left-menu post-section" 1fr /
        150px 500px;
    }

    .right-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    main {
        grid-template: 
        "left-menu" 150px
        "start-post" 100px
        "post-section" 1fr /
        550px;
    }    
}
